@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
  background: url(https://digwallpapers.com/cdn-cgi/image/width=1600,quality=40,format=auto/wallpapers/full/a/b/c/12764-2362x1575-music-festival-wallpaper-photo-desktop-hd.jpg);
  margin: 0;
  font-family: "Regular", bold;
}

h1 {
  font-family: "Regular", bold;
  background: rgb(0, 255, 60);
  margin: 0;
  margin-bottom: 0.5em;
  padding: 2em;
  text-align: center;
  color:white;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-size: 1.5em;
  background: rgba(193, 235, 187, 0.9);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
  color:white;
}

li a {
  color: mediumseagreen;
}

input[type="text"] {
  padding: 0.3em;
  color: black;
}

input[type="submit"] {
  padding: 0.3em;
  color: black;
  background: rgb(0, 255, 115);
  font-size: 1em;
  border-radius: 10%;
}